@model Traffic_CA.Models.Carriers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carriers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierSTCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierSTCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
