@model Traffic_CA.Models.Associate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Associate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociateInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociateInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociateUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociateUserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
