@model Traffic_CA.Models.Loads

@{
    ViewData["Title"] = "Schedule New";
}
<br />
<h1 class="mt-5">Add to Schedule</h1>

<hr />

<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 border border-2 border-dark">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input id="orderDate" onchange="updateTimeSlots(this.value)" asp-for="OrderDate" type="text" class="form-control" readonly />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeSlot" class="control-label"></label>
                    @Html.DropDownListFor(n => n.TimeSlot, (SelectList)ViewBag.timeSlotList, "Select Timeslot", new {@class = "form-control", id="TimeSlot"})
                    <span asp-validation-for="TimeSlot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadType" class="control-label">Load Type</label>
                    <select asp-for="LoadType" class="form-control">
                        <option value="">Select Type</option>
                        <option value="Live">Live</option>
                        <option value="Spot">Spot</option>
                        <option value="HOTLTL">HOTLTL</option>
                        <option value="Unload">Unload</option>
                    </select>
                    <span asp-validation-for="LoadType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MBOLNbr" class="control-label"></label>
                    <input asp-for="MBOLNbr" class="form-control" />
                    <span asp-validation-for="MBOLNbr" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="LoadNbr" class="control-label"></label>
                    <input asp-for="LoadNbr" class="form-control" />
                    <span asp-validation-for="LoadNbr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 border border-2 border-dark">
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    @Html.DropDownListFor(n => n.CustomerName, ViewBag.Customer as SelectList, "Select Customer", new {@class = "form-control"})
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    @Html.DropDownListFor(n => n.City, ViewBag.City as SelectList, "Select City", new {@class = "form-control"})
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    @Html.DropDownListFor(n => n.State, ViewBag.State as SelectList, "Select State", new {@class = "form-control"})
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarrierName" class="control-label"></label>
                    @Html.DropDownListFor(n => n.CarrierName, ViewBag.Carrier as SelectList, "Select Carrier", new {@class = "form-control"})
                    <span asp-validation-for="CarrierName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NbrCartons" class="control-label"></label>
                    <input asp-for="NbrCartons" class="form-control" />
                    <span asp-validation-for="NbrCartons" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 border border-2 border-dark">
                <div class="form-group">
                    <label asp-for="LoadCube" class="control-label"></label>
                    <input asp-for="LoadCube" class="form-control" />
                    <span asp-validation-for="LoadCube" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NbrStops" class="control-label"></label>
                    <input asp-for="NbrStops" class="form-control" />
                    <span asp-validation-for="NbrStops" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoordinatorName" class="control-label"></label>
                    @Html.DropDownListFor(n => n.CoordinatorName, ViewBag.Coordinator as SelectList, "Select Coordinator", new {@class = "form-control"})
                    <span asp-validation-for="CoordinatorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Labels" class="control-label">Status</label>
                    <select asp-for="Labels" class="form-control">
                        <option value="">Labels Yes/No</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <span asp-validation-for="Labels" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentNumber" class="control-label"></label>
                    <input asp-for="AppointmentNumber" class="form-control" value="@($"{DateTime.Now.Year}{DateTime.Now.Month}{DateTime.Now.Day}-{new Random().Next(1000, 99999)}")" readonly />
                    <span asp-validation-for="AppointmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 border border-2 border-dark">
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PickupDate" class="control-label"></label>
                    <input id="pickupDate" asp-for="PickupDate" type="text" class="form-control" readonly />
                    <span asp-validation-for="PickupDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadValue" class="control-label"></label>
                    <input asp-for="LoadValue" class="form-control" />
                    <span asp-validation-for="LoadValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadStatus" class="control-label"></label>
                    <input asp-for="LoadStatus" class="form-control" value="Created" readonly />
                    <span asp-validation-for="LoadStatus" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Waved" class="control-label"></label>
                    <input asp-for="Waved" class="form-control" value="No" readonly />
                    <span asp-validation-for="Waved" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a class="btn btn-secondary mt-2" asp-controller="Home" asp-action="Index">Cancel</a>
</div>



<div class="modal fade" id="slotsModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Selection Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div id="container"></div>
                <partial name="_getAvailableSlots" />
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
